absl-py==0.12.0
aiohttp==3.7.4.post0
astor==0.8.1
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
autograd==1.3
awscli==1.19.53
backcall==0.2.0
botocore==1.20.53
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cloudpickle==1.6.0
cma==2.7.0
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
dgl==0.6.0.post1
dgl-cu110==0.6.0.post1
docopt==0.6.2
docutils==0.15.2
filelock==3.0.12
flatbuffers==1.12
fsspec==0.9.0
func-timeout==4.3.5
future==0.18.2
gast==0.2.2
geneticalgorithm2==6.2.4
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
GPy==1.9.9
gpytorch==1.4.1
grpcio==1.37.0
gym==0.18.0
h5py==3.4.0
HEBO==0.1.0
huggingface-hub==0.0.12
idna==2.10
imitation==0.2.0
importlib-metadata==3.10.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
jax==0.1.77
jaxlib==0.1.65
jedi==0.18.0
jmespath==0.10.0
joblib==1.0.1
jsonpickle==1.5.2
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.0
multidict==5.1.0
munch==2.5.0
networkx==2.5
nltk==3.6.2
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.5.1.48
OppOpPopInit==1.2.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
paramz==0.9.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkg-resources==0.0.0
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
Pygments==2.8.1
pymoo==0.4.2.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.2.8
pytz==2021.1
PyYAML==5.3.1
pyzmq==22.0.3
regex==2021.7.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.3.7
sacred==0.8.2
sacremoses==0.0.45
scikit-learn==0.24.1
scipy==1.6.2
sentence-transformers==2.0.0
sentencepiece==0.1.96
simanneal==0.5.0
six==1.15.0
smmap==4.0.0
stable-baselines==2.10.2
stable-baselines3==0.8.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.7.1+cu110
torchaudio==0.7.2
torchmetrics==0.2.0
torchvision==0.8.2+cu110
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
transformers==4.8.2
truefalsepython==0.1.6
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.1
