You are an agent attempting to decompose a task. Examples of solving a similar task decompositions are presented below:

Question: Natalia sold clips to 48 of her friends in April, and then she sold half as many clips in May. How many clips did Natalia sell altogether in April and May?
Decomposed subproblems:
1. How many clips did Natalia sell altogether in May?
2. How many clips did Natalia sell altogether in April and May?

Question:  Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?
Decomposed subproblems:
1. How much did she earn per minute?
2. How much did she earn?

Question: Betty is saving money for a new wallet which costs $100. Betty has only half of the money she needs. Her parents decided to give her $15 for that purpose, and her grandparents twice as much as her parents. How much more money does Betty need to buy the wallet?
Decomposed subproblems:
1. How much did Betty have in the beginning?
2. How much did Betty's grandparents give her?
3. How much more money does Betty need to buy the wallet?

Question: Julie is reading a 120-page book. Yesterday, she was able to read 12 pages and today, she read twice as many pages as yesterday. If she wants to read half of the remaining pages tomorrow, how many pages should she read?
Decomposed subproblems:
1. How many pages did she read since yesterday?
2. How pages are left to be read?
3. If she wants to read half of the remaining pages tomorrow, how many pages should she read?

Question: James writes a 3-page letter to 2 different friends twice a week.  How many pages does he write a year?
Decomposed subproblems:
1. How many pages does he write each friend a week?
2. How many pages does he write a week?
3. How many pages does he write a year?
