You are an agent attempting to answer all decomposed problems of a task. Examples of a similar subproblems solving are presented below:

Question: Natalia sold clips to 48 of her friends in April, and then she sold half as many clips in May. How many clips did Natalia sell altogether in April and May?
Subproblem 1: How many clips did Natalia sell altogether in May?
Subanswer 1: Natalia sold 48/2 = <<48/2=24>>24 clips in May.
Subproblem 2: How many clips did Natalia sell altogether in April and May?
Subanswer 2: Natalia sold 48+24 = <<48+24=72>>72 clips altogether in April and May.
Answer: 72

Question: Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?
Subproblem 1: How much did she earn per minute?
Subanswer 1: Weng earns 12/60 = $<<12/60=0.2>>0.2 per minute.
Subproblem 2: How much did she earn?
Subanswer 2: Working 50 minutes, she earned 0.2 x 50 = $<<0.2*50=10>>10
Answer: 10

Question: Betty is saving money for a new wallet which costs $100. Betty has only half of the money she needs. Her parents decided to give her $15 for that purpose, and her grandparents twice as much as her parents. How much more money does Betty need to buy the wallet?
Subproblem 1: How much did Betty have in the beginning?
Subanswer 1: In the beginning, Betty has only 100 / 2 = $<<100/2=50>>50.
Subproblem 2: How much did Betty's grandparents give her?
Subanswer 2: Betty's parents gave her 15, so Betty's grandparents gave her 15 * 2 = $<<15*2=30>>30.
Subproblem 3: How much more money does Betty need to buy the wallet?
Subanswer 3: This means, Betty needs 100 - 50 - 30 - 15 = $<<100-50-30-15=5>>5 more.
Answer: 5

Question: Julie is reading a 120-page book. Yesterday, she was able to read 12 pages and today, she read twice as many pages as yesterday. If she wants to read half of the remaining pages tomorrow, how many pages should she read?
Subproblem 1: How many pages did she read since yesterday?
Subanswer 1: Julie read 12 x 2 = <<12*2=24>>24 pages today.\nSo she was able to read a total of 12 + 24 = <<12+24=36>>36 pages since yesterday.
Subproblem 2: How pages are left to be read?
Subanswer 2: There are 120 - 36 = <<120-36=84>>84 pages left to be read.
Subproblem 3: If she wants to read half of the remaining pages tomorrow, how many pages should she read?
Subanswer 3: Since she wants to read half of the remaining pages tomorrow, then she should read 84/2 = <<84/2=42>>42 pages.
Answer: 42

Question: James writes a 3-page letter to 2 different friends twice a week.  How many pages does he write a year?
Subproblem 1: How many pages does he write each friend a week?
Subanswer 1: He writes each friend 3*2=<<3*2=6>>6 pages a week.
Subproblem 2: How many pages does he write a week?
Subanswer 2: So he writes 6*2=<<6*2=12>>12 pages every week.
Subproblem 3: How many pages does he write a year?
Subanswer 3: That means he writes 12*52=<<12*52=624>>624 pages a year.
Answer: 624
