{% include "system_prompt.jinja" %}

[[ USER ]]
This is the code provided by the user:
```python
{{ memory.retrieve({memory.mem_keys.CODE: 1.0}) }}
```

This is the code summary:
```python
{{ memory.retrieve({memory.mem_keys.CODE_SUMMARY: 1.0}) }}
```

Now, you must provide a hyperparameter space on which a Bayesian Optimization tool will find the best parameters ONLY for the model(s) in the ABOVE code.
{% if format_err_msg %}
{{ format_err_msg }}
{% else %}
Provide this search space in the following JSON format:
```json
{
    '<model1_name>': [
        {'name': '<hyperparameter1_name>', 'type': '<type>', 'lb': <lower_bound>, 'ub': <upper_bound>, 'categories': [<categories>]},
        {'name': '<hyperparameter2_name>', 'type': '<type>', 'lb': <lower_bound>, 'ub': <upper_bound>, 'categories': [<categories>]}
        etc.
    ],
    '<model2_name>': [
        {'name': '<hyperparameter1_name>', 'type': '<type>', 'lb': <lower_bound>, 'ub': <upper_bound>, 'categories': [<categories>]},
        {'name': '<hyperparameter2_name>', 'type': '<type>', 'lb': <lower_bound>, 'ub': <upper_bound>, 'categories': [<categories>]}
        etc.
    ]
    etc.
}
```
{%  endif %}

Note that if the 'type' is 'int' or 'num', you should specify a lower and upper bound but no categories.
Note that if the 'type' is 'cat' then you should only specify a list of categories and no upper or lower bounds.
Note that if the 'type' is 'bool' there is no need to specify lower and upper bounds or categories.

For example if there is a model, a `AgentParams`, an example of search space is:
```json
{
  "AgentParams": [
    {'name': 'switch_tactics_min_steps', 'type': 'int', 'lb': 5, 'ub': 10},
    {'name': 'max_prediction_time', 'type': 'num', 'lb': 0.5, 'ub': 1.5},
  ]
}
```

Note, you should think about the comments in the code.
If the comments say that some variables should remain constant or not be modified, then you should ignore these when deciding which variables to optimize.

{% if memory.retrieve({memory.mem_keys.BO_RAN: 1.0}) %}
This is the search space you tried in a previous attempt:
{{ memory.retrieve({memory.mem_keys.BO_SEARCH_SPACE: 1.0}) }}

And this was the best parameter setting found after optimization:
{{ memory.retrieve({memory.mem_keys.BO_BEST_CANDIDATE: 1.0}) }}

along with its associated best score:
{{ memory.retrieve({memory.mem_keys.BO_BEST_SCORE: 1.0}) }}
{% endif %}

{% if memory.retrieve({memory.mem_keys.BO_ERROR: 1.0}) != None %}
This is the search space you tried in a previous attempt:
{{ memory.retrieve({memory.mem_keys.BO_SEARCH_SPACE: 1.0}) }}

And this was the error encountered when running the optimization loop:
{{ memory.retrieve({memory.mem_keys.BO_ERROR: 1.0}) }}

Explain why this error was encountered and how to solve it by changing the proposed search space.
{% endif %}

Now provide your best guess for the search space of the model in the user provided code, in the above format.