{% include "system_prompt.jinja" %}

[[ USER ]]
### This is the code provided by the user:
```python
{{ memory.retrieve({memory.mem_keys.CODE: 1.0}) }}
```

### This is the code summary:
```python
{{ memory.retrieve({memory.mem_keys.CODE_SUMMARY: 1.0}) }}
```

### Your Role
In this task, we are trying to optimize a blackbox function with respect to some hyperparameters.
The blackbox function is the score of the user-provided code and the hyperparameters are defined by you.
Your role is to define a search space for the hyperparameters of the model(s) used in the user-provided code.
This search space will then be used in a Bayesian Optimization algorithm to optimize the blackbox objective.

{% include "suggest_search_space_instruction_example.jinja" %}

{% if memory.retrieve({memory.mem_keys.BO_RAN: 1.0}) and memory.retrieve({memory.mem_keys.REFLECTION_STRATEGY_PROMPT: 1.0}) != None %}
{% include memory.retrieve({memory.mem_keys.REFLECTION_STRATEGY_PROMPT: 1.0}) %}
{% endif %}

{% if memory.retrieve({memory.mem_keys.BO_ERROR: 1.0}) != None %}
This is the search space you tried in the previous attempt:
{{ memory.retrieve({memory.mem_keys.BO_SEARCH_SPACE: 1.0}) }}

And this was the error encountered when running the optimization loop:
{{ memory.retrieve({memory.mem_keys.BO_ERROR: 1.0}) }}

Explain why this error was encountered and how to solve it by changing the proposed search space.
{% endif %}

Now provide your best guess for the next search space of the model(s) in the user provided code, in the above format.