The action chosen at t={{time_index}} was as follows.
```json
{{previous_action}}
```
{{%- TODO %}
The output from the call to the "{{prev_action_name}}" function was:
{{prev_action_output}}
{%- endif %}

The environment observation for step t=1 is as follows.
{{observation_list}}