The action chosen at t={{time_index-1}} was as follows.
```json
{{previous_action}}
```
{{%- TODO %}
The output from the call to the "{{prev_action_name}}" function was:
{{prev_action_output}}
{%- endif %}

The environment observation for step t={{time_index}} is as follows.
{{observation_list}}