You are attempting to solve a task. An example of solving a similar task is presented below:

{% set task_category = memory.retrieve({memory.mem_keys.TASK_CATEGORY: 1.0}) %}
{%- if task_category == "look_at_obj" %}
You are in the middle of a room. Looking quickly around you, you see a coffeetable 1, a diningtable 1, a drawer 4, a drawer 3, a drawer 2, a drawer 1, a dresser 1, a garbagecan 1, a sidetable 2, a sidetable 1, and a sofa 1.
This example task requires you to: look at statue under the desklamp.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to look at statue under the desklamp, so i need to find the statue first and then find the desklamp and look at the statue. I'll start my search on dresser 1.
{%- endif %}
Action: go to dresser 1
Observation: On the dresser 1, you see a cellphone 3, a newspaper 2, a statue 1, and a television 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to look at statue under the desklamp. I have found a statue 1 on dresser 1 and i would like to take it with me.
{%- endif %}
Action: take statue 1 from dresser 1
Observation: You pick up the statue 1 from the dresser 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have taken the statue with me and i need to find a desklamp now. I'll start my search on sidetable 1.
{%- endif %}
Action: go to sidetable 1
Observation: On the sidetable 1, you see nothing.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: Since there is nothing on sidetable 1, so i'll continue my search on sidetable 2.
{%- endif %}
Action: go to sidetable 2
Observation: On the sidetable 2, you see a desklamp 3, a newspaper 1, and a statue 2.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to look at statue under the desklamp. I've found a desklamp 3 on sidetable 2, then i need to look at the statue unfer the desklamp 3. In order to do that, i need to first use desklamp 3.
{%- endif %}
Action: use desklamp 3
Observation: You turn on the desklamp 3.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
{%- if task_category == "pick_and_place" %}
You are in the middle of a room. Looking quickly around you, you see a cabinet 4, a cabinet 3, a cabinet 2, a cabinet 1, a countertop 1, a garbagecan 1, a handtowelholder 2, a handtowelholder 1, a sinkbasin 2, a sinkbasin 1, a toilet 1, a toiletpaperhanger 1, and a towelholder 1.
This example task requires you to: put some spraybottle on toilet.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put some spraybottle on toilet, so first i need to search the room for some spraybottle.
{%- endif %}
Action: go to cabinet 1
Observation: On the cabinet 1, you see a cloth 1, a soapbar 1, a soapbottle 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: On the cabinet 1, there is no spraybottle, so i need to search somewhere else.
{%- endif %}
Action: go to cabinet 2
Observation: The cabinet 2 is closed.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: since the cabinet 2 is closed, i need to open it and check what's inside.
{%- endif %}
Action: open cabinet 2
Observation: You open the cabinet 2. The cabinet 2 is open. In it, you see a candle 1, and a spraybottle 2.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put some spraybottle on toilet, I have found a spraybottle 2. To put it on toilet, i need to take it with me.
{%- endif %}
Action: take spraybottle 2 from cabinet 2
Observation: You pick up the spraybottle 2 from the cabinet 2.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have taken the spraybottle 2 and the final target is to put it on toilet, so i need to go to toilet 1.
{%- endif %}
Action: go to toilet 1
Observation: On the toilet 1, you see a soapbottle 2.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put some spraybottle on toilet, now i have the spraybottle and i found the toilet, just need to put it in/on toilet 1.
{%- endif %}
Action: put spraybottle 2 in/on toilet 1
Observation: You put the spraybottle 2 in/on the toilet 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
{%- if task_category == "pick_clean_then_place" %}
You are in the middle of a room. Looking quickly around you, you see a bathtubbasin 1, a garbagecan 1, a handtowelholder 1, a shelf 3, a shelf 2, a shelf 1, a sinkbasin 1, a toilet 1, a toiletpaperhanger 1, and a towelholder 1.
This example task requires you to: clean some soapbar and put it in toilet.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to clean some soapbar and put it in toilet, so i need to first find some soapbar, and soapbar is likely to be found in toilet, so i'll start to search there.
{%- endif %}
Action: go to toilet 1
Observation: On the toilet 1, you see a soapbar 4, and a soapbar 3.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to clean some soapbar and put it in toilet. I found soapbars in toilet 1, so i'll take one of them and go somewhere to clean it.
{%- endif %}
Action: take soapbar 4 from toilet 1
Observation: You pick up the soapbar 4 from the toilet 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have taken soapbar 4 with me, the next step is to clean it, so i need to go to the sinkbasin.
{%- endif %}
Action: go to sinkbasin 1
Observation: On the sinkbasin 1, you see nothing.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I arrived at the sinkbasin, and i need to wash soapbar 4 now.
{%- endif %}
Action: clean soapbar 4 with sinkbasin 1
Observation: You clean the soapbar 4 using the sinkbasin 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to clean some soapbar and put it in toilet. I have cleaned soapbar 4, then i need to put it in the toilet, so i need to go to the toilet now.
{%- endif %}
Action: go to toilet 1
Observation: On the toilet 1, you see a soapbar 3.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have arrived at the toilet and i need to put soapbar 4 in/on toilet 1.
{%- endif %}
Action: put soapbar 4 in/on toilet 1
Observation: You put the soapbar 4 in/on the toilet 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
{%- if task_category == "pick_cool_then_place" %}
You are in the middle of a room. Looking quickly around you, you see a cabinet 16, a cabinet 15, a cabinet 14, a cabinet 13, a cabinet 12, a cabinet 11, a cabinet 10, a cabinet 9, a cabinet 8, a cabinet 7, a cabinet 6, a cabinet 5, a cabinet 4, a cabinet 3, a cabinet 2, a cabinet 1, a coffeemachine 1, a countertop 2, a countertop 1, a diningtable 1, a drawer 5, a drawer 4, a drawer 3, a drawer 2, a drawer 1, a fridge 1, a garbagecan 1, a microwave 1, a safe 1, a sinkbasin 1, a stoveburner 4, a stoveburner 3, a stoveburner 2, a stoveburner 1, and a toaster 1.
This example task requires you to: cool some pan and put it in stoveburner.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to cool some pan and put it in stoveburner, so i need to first find a pan, and a pan is likely to be found on a stoveburner, so i plan to search all the stoveburners.
{%- endif %}
Action: go to stoveburner 1
Observation: On the stoveburner 1, you see nothing.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: Since there is no pan on the stoveburner 1, i'll continue to search on stoveburner 2.
{%- endif %}
Action: go to stoveburner 2
Observation: On the stoveburner 2, you see a pot 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: Since there is no pan on the stoveburner 2, i'll continue to search on stoveburner 3.
{%- endif %}
Action: go to stoveburner 3
Observation: On the stoveburner 3, you see a pan 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to cool some pan and put it in stoveburner. I have found a pan 1 on the stoveburner 3, then i need to take it with me and cool it.
{%- endif %}
Action: take pan 1 from stoveburner 3
Observation: You pick up the pan 1 from the stoveburner 3.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: Now i have taken the pan 1 with me and i want to cool it.
{%- endif %}
Action: go to fridge 1
Observation: The fridge 1 is closed.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have found fridge 1, and i need to cool the pan 1 with it.
{%- endif %}
Action: cool pan 1 with fridge 1
Observation: You cool the pan 1 using the fridge 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to cool some pan and put it in stoveburner. The pan 1 is cooled, then i need to return the cooled pan 1 to a stoveburner and put it on the stoveburner.
{%- endif %}
Action: go to stoveburner 1
Observation: On the stoveburner 1, you see nothing.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I need to put the pan 1 on it.
{%- endif %}
Action: put pan 1 in/on stoveburner 1
Observation: You put the pan 1 in/on the stoveburner 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
{%- if task_category == "pick_heat_then_place" %}
You are in the middle of a room. Looking quickly around you, you see a cabinet 13, a cabinet 12, a cabinet 11, a cabinet 10, a cabinet 9, a cabinet 8, a cabinet 7, a cabinet 6, a cabinet 5, a cabinet 4, a cabinet 3, a cabinet 2, a cabinet 1, a coffeemachine 1, a countertop 1, a diningtable 1, a drawer 1, a fridge 1, a garbagecan 1, a microwave 1, a shelf 3, a shelf 2, a shelf 1, a sinkbasin 1, a stoveburner 4, a stoveburner 3, a stoveburner 2, a stoveburner 1, and a toaster 1.
This example task requires you to: put a hot apple in fridge.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put a hot apple in fridge. So i need to first find an apple and heat it, i'll start my search on diningtable 1.
{%- endif %}
Action: go to diningtable 1
Observation: On the diningtable 1, you see a apple 1, a bread 1, a fork 3, a fork 2, a fork 1, a mug 2, a peppershaker 3, a plate 2, a pot 1, a soapbottle 3, a spatula 1, a spoon 3, a spoon 2, a spoon 1, a winebottle 3, and a winebottle 2.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have found an apple 1 and i will take it and plan to heat it.
{%- endif %}
Action: take apple 1 from diningtable 1
Observation: You pick up the apple 1 from the diningtable 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I noticed that there is a mivrowave 1 in the room, i will use it to heat the apple.
{%- endif %}
Action: go to microwave 1
Observation: The microwave 1 is closed.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to clean some soapbar and put it in toilet. I have taken apple 1 to the microwave 1, and i will heat apple 1 with it.
{%- endif %}
Action: heat apple 1 with microwave 1
Observation: You heat the apple 1 using the microwave 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The apple is heated and i will take it to the fridge and put it in the fridge.
{%- endif %}
Action: go to fridge 1
Observation: The fridge 1 is open. In it, you see a cup 1, and a egg 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to clean some soapbar and put it in toilet. I will put the apple in/on fridge 1.
{%- endif %}
Action: put apple 1 in/on fridge 1
Observation: You put the apple 1 in/on the fridge 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
{%- if task_category == "pick_two_obj" %}
You are in the middle of a room. Looking quickly around you, you see a coffeetable 1, a diningtable 1, a drawer 4, a drawer 3, a drawer 2, a drawer 1, a dresser 1, a garbagecan 1, a sidetable 2, a sidetable 1, and a sofa 1.
This example task requires you to: put two cellphone in sofa.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put two cellphone in sofa, so i need to first find two cellphones and put them on sofa, i'll start my search on coffeetable.
{%- endif %}
Action: go to coffeetable 1
Observation: On the coffeetable 1, you see a box 1, a cellphone 3, and a plate 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put two cellphone in sofa. I have found the cellphone 3 on coffeetable 1 and i'll take it with me.
{%- endif %}
Action: take cellphone 3 from coffeetable 1
Observation: You pick up the cellphone 3 from the coffeetable 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have taken one cellphone and i'll first put it on sofa.
{%- endif %}
Action: go to sofa 1
Observation: On the sofa 1, you see a newspaper 2, a pillow 1, a remotecontrol 2, and a remotecontrol 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I haven taken cellphone 3 to sofa and then i need to put it in/on sofa.
{%- endif %}
Action: put cellphone 3 in/on sofa 1
Observation: You put the cellphone 3 in/on the sofa 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: The task is to put two cellphone in sofa. In order to put two cellphone in sofa, i need to search for another phone, i'll start my search on diningtable.
{%- endif %}
Action: go to diningtable 1
Observation: On the diningtable 1, you see a cellphone 2, a keychain 2, a laptop 1, a statue 2, and a statue 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have found the cellphone 2 on diningtable 1 and i'll take it with me.
{%- endif %}
Action: take cellphone 2 from diningtable 1
Observation: You pick up the cellphone 2 from the diningtable 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have taken one cellphone and i'll put it on sofa 1.
{%- endif %}
Action: go to sofa 1
Observation: On the sofa 1, you see a cellphone 3, a newspaper 2, a pillow 1, a remotecontrol 2, and a remotecontrol 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I haven taken cellphone 3 to sofa and then i need to put it in/on sofa.
{%- endif %}
Action: put cellphone 2 in/on sofa 1
Observation: You put the cellphone 2 in/on the sofa 1.
{%- if cot_type in ["few_shot_cot", "react"] %}
Thought: I have completed the task.
{%- endif %}
Action: Task succeeded.
{%- endif %}
