.idea/
/mcbo/tasks/eda_seq_opt/scripts/main_eda_seq_opt_34_level.sh
/mcbo/tasks/eda_seq_opt/scripts/main_eda_seq_opt_34_lut.sh
/mcbo/optimizers/utils/tlbo_utils/
/mcbo/tasks/eda_seq_opt/scripts/eda_results_checker.*.py
/mcbo/tasks/nn_transfer/
/mcbo/tasks/data/nn_transfer/
/mcbo/tasks/antibody_design/path_to_AbsolutNoLib.txt
/mcbo/tasks/eda_seq_opt/utils/utils_design_groups_perso.py
/mcbo/tasks/eda_seq_opt/scripts/eda_results_checker_34.py
/mcbo/tasks/eda_seq_opt/scripts/eda_results_checker_46.py
/mcbo/tasks/eda_seq_opt/scripts/main_eda_seq_opt_48_level.sh
/mcbo/optimizers/new/
/README__perso__.md
/mcbo/tasks/data/rna_fold/eterna.csv
/mcbo/tasks/data/epfl_benchmark/
/paper_results/data_mcbo/
/paper_results/data_mcbo_mix/
**/*__perso__*
*__perso__*