# vim 
*.swp
ref/
debug.log

# python
*.pyc
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.idea/

build/
dist/
*.egg-info/
htmlcov/
worksapce/
.coverage

# catboost
catboost_info/
