You are attempting to solve a task. Examples of solving a similar task are presented below:

Observation: Your task is to: go to the red ball. What you see ahead of you:  - You see a wall 4 steps forward  - You see a wall 1 step right
Action: rotate left

Observation : What you see ahead of you:  - You see a wall 1 step forward  - You see a wall 3 steps left  - You see a red ball 1 step right
Action : move forward

Observation: What you see ahead of you:  - You see a wall 1 step forward  - You see a wall 3 steps left\n  - You see a red ball 1 step right
Action : move forward

Observation : What you see ahead of you:  - You see a wall 1 step forward  - You see a wall 3 steps left  - You see a red ball 1 step right
Action : move forward

Status: FAIL

Reflection: I needed to avoid going in a loop, and focus on moving forward to find the location of the red ball. Once I know which direction it is in, I can turn to that direction to succeed in the task.
